


<div class="container">
	<div class="row"> 


				<div class="text-center"><h1>Sign up</h1></div>
				
				<%= render 'shared/bigform' %>

		</div>
	</div>

<!--</div>
</div>
</div>-->
<div class="img-center small">
	<%= render "devise/shared/links" %>
		<img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_60/v1510593635/intuit_q7zbv3.png" alt="INTUIT">
</div>
	
<div class="col-md-12 text-center small-font">
	© 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.<br>Terms and conditions, features, support, pricing, and service options subject to change without notice.
</div>


