	<div class="container">
	    <div class="row">        
	        <div class="cols-sm-4 card text-center">
					<div class="card-small-padding text-center">
						<ul class="list-inline">
							<li>
								<a href="#">
								<img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,h_20,w_20/v1510593712/turbotax_kx7bvv.png" alt=""> turbotax
								</a>
							</li>
							<li>
								<a href="#">
								<img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,h_20,w_20/v1510593635/quickbooks_c4mc91.png" alt=""> quickbooks
								</a>
							</li>
							<li>
								<a href="#">
								<img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,h_20/v1510594034/mint_ktbtd3.png" alt=""> mint
								</a>
							</li>
						</ul>
					</div>
					<!--Filet central-->
					<div class="border-top align-top text-center">
						<h1>One Account.</br> Everything Intuit</h1>
						<p>Create an account for all Intuit's products including Mint. <a href="https://accounts-help.lc.intuit.com/questions/1582580-creating-an-account">Learn more</a></p>
					</div>
					<div class="form-group">
					<form>

						<div class="form-group">
							<div class="control-label"><label for="email" class="cols-sm-2">Your Email</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
											<input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email">
									</div>
								</div>
						</div>

						<div class="form-group">
							<div class="control-label"><label for="phone" class="cols-sm-2">Phone (recommended)</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
											<input type="text" class="form-control" name="username" id="username" placeholder="Your phone number will help verify your account and keep it safe.">
									</div>
								</div>
						</div>

						<div class="form-group">
							<div class="control-label"><label for="password" class="cols-sm-2">Password</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password">
									</div>
								</div>
						</div>

						<div class="form-group">
							<div class="control-label"><label for="confirm" class="cols-sm-2">Confirm Password</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password">
									</div>
								</div>
						</div>
					</form>
					</div>

					<form>
						<div class="cols-sm-4 btn-big text-center">
						<%= link_to  team_path, class: "btn-big" do %>
    					<i class="fa fa-gift"></i> Create Account
						<% end %>
						</div>
					</form>
					<div class="card-small-padding cols-sm-4">
						<em>By clicking Create Account, you agree to our 
						<a href="https://www.mint.com/terms">License Agreement</a> and <a href="https://security.intuit.com/index.php/privacy">Privacy Statement</a></em>
  
					</div>





	        </div>
		</div>
	</div>	