<div class="navbar">
		<div class="navbar-wrapper">
			<div class="left-container">
				<ul class="list-dropdown">
					<li>Already have an Intuit account?</li>
				</ul>
				<ul class="list-dropdown">
					<li><a href="https://accounts.intuit.com/account-recovery.html?offering_id=Intuit.ifs.mint&namespace_id=50000026&redirect_url=https://mint.intuit.com/overview.event?task=S">I forgot my User ID or Password</a></li>
				</ul>
			</div>
			<div class="right-container">
				<%= link_to   new_user_session_path, class: "btn-small" do %>
    			<i class="fa fa-lock"></i> Sign-in
				<% end %>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>