<div class="container text-center">
    <h1>Good night !</h1>
</div>    

    
    
    <!--< %= fetch_image_tag("http://res.cloudinary.com/caroheymes/image/fetch/http://upload.wikimedia.org/wikipedia/commons/4/46/Jennifer_Lawrence_at_the_83rd_Academy_Awards.jpg",
                :width => 150, :height => 150, :crop => :thumb, 
                :gravity => :face, :radius => 20) %>
                
    

     <!--< %= cl_image_tag "tl0iwfterjwyctft8zky", width: 600 %>
    

  

</div>

