.clear{
	clear:both;
}

.img-center{
	padding-top: 70px;
	width: 600px;
	margin:0 auto;
	text-align: center;
}

.row{
	background-color: #eceef1;
	display: block;
}

.card{
	background-color: white;
	width: 400px;
	margin: 20px auto;
	padding: 20px;
	}

.card-small-padding{
	background-color: white;
	width: 380px;
	padding: 5px;
}	

.border-top{
	border-top: 1px solid;
	border-color: rgb(200, 202, 205);
	width: 350px;
	margin: 20px auto;
}
.card-shadow{
	box-shadow: 1px 1px 3px rgb(200, 202, 205);
	border-radius: 25px;
}

.text-center{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.list-inline{
	list-style: none;
}

.list-inline li{
	display:inline-block;
	width: 105px;
	margin: 0px auto;
}

.a{ 
	color:#0077C5;
}


.a:hover{
text-decoration: (none !important); 
}


.btn-big{
	background-color:(#0077C5 !important);
    margin-top: 28px;
    padding: 10px 60px;
    color:(white !important);
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover{
	background-color:(#0077C5 !important);
	color:(white !important);
	text-decoration: (none !important); 
	font-weight: bold;
	}

.form{
 	display: inline-block;
 }
 .control-label{
 	text-align:(left !important);
 }


 .small{
 	padding-top: 30px;
 	padding-bottom: 10px;
	width: 600px;
	margin:0 auto;
	text-align: center;
}
.small-font{
	font-size: 0.8em;
}
.form-horizontal {
  div.checkbox.inline {
    .control-label {
      text-align: left;
    }
  }
}