.navbar{
	position:fixed;
  	top: 0px;	
}

.navbar-wrapper{
	max-height: 40px;
	position: fixed;
	top: 0px;
	margin: 10px;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-dropdown{
	list-style: none;
}

.left-container{
	width: 85%;
	list-style: none;
	float: left;
	line-height: 10px;
	text-align: right;
	margin-right: 15px;
	
}

.right-container{
	width: 15%;
	float:right;
}

.clear{
	clear:both;
}

.btn-small{
	border: 1px solid #ccc;
	background-color: #0077C5;
	color: white;
  padding: 10px 15px;
  border-radius: 3px;
}
.btn-small:hover{
	text-decoration :none;
	color : white;
}